{% extends 'layout.html' %}

{% block body %}
  <div class="container pt-4">

    <div class="row pt-4">
      {# Latest Creations #}

      <div class="col-md-5 col-lg-4 d-none d-md-block ">
        <div style="position:fixed">
          <h1><u>Latest Creations</u></h1>

          {% for pizza in latest_pizzas %}
            <div class="border rounded bg-light mt-2">
              <h3 class="mb-0">{{ pizza.name }}</h3>
              <p class="mb-2">{{ pizza.city }}, {{ pizza.state }}</p>
              <p class="mb-0">{{ pizza.summary|truncatechars:40 }}</p>
              <p class="mt-0">Created {{ pizza.time_created|timesince }}
                ago.</p>
            </div>
          {% endfor %}
        </div>
      </div>
      {# /Latest Creations #}


      {# Pizza Menus #}
      <div class="col-md-7 col-lg-8">
        <h1><u>Pizzas</u></h1>

        {% for pizza in pizzas %}
          {# Cycle will change the classes based on which iteration #}
          {# the for loop is in#}
          <div
              class="{% cycle 'bg-info rounded' 'bg-secondary rounded text-white' %}">
            <div class="ml-2">

              {# Like & Dislike Buttons #}
              <h3 class="mb-0 m-1">

                <a href="{% url 'workshop:view_pizza' pk=pizza.id %}"
                   style="{% cycle 'color: black;' 'color: white' %}">{{ pizza }}</a>


                <div class="btn-group float-right pr-4 pt-1" role="group"
                     aria-label="Basic example">
                  <a class="btn btn-light border"
                     href="{% url 'workshop:like_pizza' pk=pizza.id %}"
                     role="button">
                    {{ pizza.likes }} &#10004
                  </a>
                  <a class="btn btn-light border"
                     href="{% url 'workshop:dislike_pizza' pk=pizza.id %}"
                     role="button">
                    {{ pizza.dislikes }} &#10060
                  </a>
                </div>
              </h3>
              {# /Like & Dislike Buttons #}

              <p class="mb-2">{{ pizza.city }}, {{ pizza.state }}</p>
              <p class="my-0">Summary: <br> {{ pizza.summary }}</p>
              <p class="mt-2">Ingredients: <br> {% lorem 5 w random %}</p>
            </div>
          </div>
        {% endfor %}

      </div>
      {# /Main Pizzas #}

    </div>

  </div>


{% endblock body %}