{% extends 'layout_with_navbar.html' %}

{% block body %}
  <div class="container pt-4">

    <div class="row pt-4">
      {# Latest Creations #}

      <div class="col-md-5 col-lg-4 d-none d-md-block ">
        <div style="position:fixed">
          <h1><u>Latest Creations</u></h1>

          <div class="border rounded bg-light mt-2">
            <h3 class="mb-0">Garlic Pizza</h3>
            <p class="mb-2">Knoxville, Tn</p>
            <p>Created 2 minutes ago.</p>
          </div>

          <div class="border rounded bg-light mt-2">
            <h3 class="mb-0">Mushroom</h3>
            <p class="mb-2">Cleveland, Ohio</p>
            <p>Created 1 hour, 12 minutes ago.</p>
          </div>
        </div>
      </div>
      {# /Latest Creations #}


      {# Pizza Menus #}
      <div class="col-md-7 col-lg-8">
        <h1><u>Pizzas</u></h1>

        <div class="bg-info rounded">
          <h3 class="mb-0">Garlic Pizza
            <div class="btn-group float-right pr-4 pt-1" role="group"
                 aria-label="Basic example">
              <button type="button" class="btn btn-light border">0 &#10004
              </button>
              <button type="button" class="btn btn-light border">1 &#10060
              </button>
            </div>
          </h3>
          <p class="mb-2">Knoxville, Tn</p>
          <p class="my-0">Summary: <br> {% lorem 5 w random %}</p>
          <p class="mt-2">Ingredients: <br> {% lorem 5 w random %}</p>
        </div>

        <div class="bg-secondary rounded text-white">
          <h3 class="mb-0">Meat Lovers
            <div class="btn-group float-right pr-4 pt-1" role="group"
                 aria-label="Basic example">
              <button type="button" class="btn btn-light border">2 &#10004
              </button>
              <button type="button" class="btn btn-light border">0 &#10060
              </button>
            </div>
          </h3>
          <p class="mb-2">Chicago, IL</p>
          <p class="my-0">Summary: <br> {% lorem 12 w random %}</p>
          <p class="mt-2">Ingredients: <br> {% lorem 5 w random %}</p>
        </div>

        <div class="bg-info rounded">
          <h3 class="mb-0">Anchovies supreme
            <div class="btn-group float-right pr-4 pt-1" role="group"
                 aria-label="Basic example">
              <button type="button" class="btn btn-light border">2 &#10004
              </button>
              <button type="button" class="btn btn-light border">0 &#10060
              </button>
            </div>
          </h3>
          <p class="mb-2">San Diego, CA</p>
          <p class="my-0">Summary: <br> {% lorem 20 w random %}</p>
          <p class="mt-2">Ingredients: <br> {% lorem 5 w random %}</p>
        </div>

        <div class="bg-secondary rounded text-white">
          <h3 class="mb-0">New York Style
            <div class="btn-group float-right pr-4 pt-1" role="group"
                 aria-label="Basic example">
              <button type="button" class="btn btn-light border">4 &#10004
              </button>
              <button type="button" class="btn btn-light border">2 &#10060
              </button>
            </div>
          </h3>
          <p class="mb-2">New York, NY</p>
          <p class="my-0">Summary: <br> {% lorem 6 w random %}</p>
          <p class="mt-2">Ingredients: <br> {% lorem 5 w random %}</p>
        </div>

      </div>
      {# /Main Pizzas #}

    </div>

  </div>


{% endblock body %}